@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

body{
    background: #191816 url("imagens/images/side-image.jpg") right no-repeat fixed;
    background-size: contain 50%;
    align-content: stretch;
}

main{
    background-color: #24221F;
    font-family: "Poppins";
    color: var(--text-base);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -45%);
    width: 35%;
    padding: 30px;
    border-radius: 5px;
}

a{
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#cabeca{
    text-align: center;
    font-weight: 500;
    padding: 0 15px 20px 15px;
}

#head{
    display: flex;
    margin: 20px 0px 0px 60px;
}

#title{
    color: var(--text-title);
    padding: 10px;
    font-size: x-large;
    font-weight: 600;
}

form{
    padding: 5px 0px 5px 20px;
}

#info{
    padding-left: 50px;
}

form > input{
    margin-bottom: 15px;
    background-color: var(--form-background);
    color: var(--text-base);
    border: 1px solid gray;
    height: 45px;
    width: 330px;
    border-radius: 5px;
}

/*-------- Personalizando a Fieldset --------*/
#info input{
    padding-left: 35px;
}
#email{
    background: url("imagens/images/mail.svg") no-repeat;
    background-position: 10px 12px;
}
#senha{
    background: url("imagens/images/lock.svg") no-repeat;
    background-position: 10px 12px;
}
/*-------------------------------------------*/

label{
    color: var(--text-base);
    padding-right: 80px;
}

#footer{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#senharesult{
    padding-bottom: 8px;
}

/*-------- Personalizando a Checkbox --------*/
#footer input{
    display: none;
}
#footer input + label:before{
    content: " ";
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: var(--form-background);
    border: 1px solid var(--text-base);
    display: inline-block;
    vertical-align: middle;
}
#footer input:checked + label:before{
    background-image: url("imagens/images/check.svg");
    background-color: var(--primary-color);
}
/*--------------------------------------------*/

button{
    width: 325px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: var(--primary-color);
    color: rgb(139, 106, 23);
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

#footer > p{
    text-align: center;
    color: var(--primary-color);
}