*{
    padding: 0px;
    margin: 0px;
}

header > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 153, 100);
    margin-left: 7%;
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 153, 100);
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: rgb(136, 202, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1em;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input select, textarea{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;

}

.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type='text'], .campo input[type='email'], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid green;
    box-shadow: 2px 2px 2px rgb(0, 0, 0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: aliceblue;
}

.botao{
    font-size: 1em;
    background-color: aqua;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#check{
    display: inline-block;
}