@charset "UTF-8";

body{
    background-color: #C4F7B1;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #437531;
    font-family: 'Times New Roman', Times, serif;
}

h1#main{
    text-align: center;
    background-color: #5D7554;
    color: white;
}

h2{
    color: #6FC251;
    font-family: Arial, Helvetica, sans-serif;
}

.basico{
    color: #6FC251;
    font-weight: bold;
}

.intermediario{
    color: gold;
}

.avançado{
    color: red;
}